nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lavender;
  height: 60px;
  width: 100%;
}
header {
  display: flex;
  align-items: center;
}
.room {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}
.roombtn {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(59, 26, 97, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  background-color: rgb(43, 151, 240);
  color: #ffff;
  font-family: Phantomsans, sans-serif;
  font-size: 14px;
  justify-content: center;
  line-height: 2em;
  width: 100px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}
.roombtn:hover {
  background-color: rgb(58, 66, 182);
  border: none;
  color: white;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bhado {
  height: 500px;
  width: 800px;
  background-color: green;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select {
  margin: 10px;
  height: 200px;
  width: 100%;
  background-color: orange;
}
.select label {
  font-size: 25px;
}
.message {
  height: 200px;
  width: 100%;
  background-color: white;
}
/* Input container */
.messageboxdiv {
  position: relative;
  margin: 20px;
}

/* Input field */
.messagebox {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #007bff;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.messagebox:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #007bff;
}

.messagebox:focus + .input-label + .input-highlight {
  width: 100%;
}

.link {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#getlink {
  height: 50px;
  width: 150px;
}
